a:visited {
    color: #eebc71;
}
body {
    background-color: #354439;
    text-align: center;
    align-content: stretch;
}
h1 {
    font-family: "Marcellus SC";
    color: #ffffff;
}
h2 {
    font-family: "Marcellus SC";
    color: #ffffff;
}


h3 {
    font-family: "Marcellus SC", "Garamond", serif;
    color: #ffffff;
    background-color: #4e5e52;
    font-weight: bolder;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

}
