h1{
font-family: "Times New Roman", Times, serif;
font-size: 4rem;
letter-spacing: 2px;
word-spacing: 2px;
color: #d0aa6b;
text-decoration: underline;
font-weight: normal;
font-style: normal;
font-variant: small-caps;
text-transform: lowercase;
}


h2{
font-family: "Times New Roman", Times, serif;
font-size: 3rem;
letter-spacing: 2px;
word-spacing: 2px;
color: #d0aa6b;
text-decoration: underline;
font-weight: normal;
font-style: normal;
font-variant: small-caps;
text-transform: lowercase;
}

h3 {
font-family: "Times New Roman", Times, serif;
font-size: 2rem;
letter-spacing: 2px;
word-spacing: 2px;
color: #d0aa6b;
text-decoration: underline;
font-weight: normal;
font-style: normal;
font-variant: small-caps;
text-transform: lowercase;

}


img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 30px;
  background-color: #d5d3ba;

}

body {background-color: #3d214f;}
